/* Ajustes específicos para móviles */
@media (max-width: 600px) {
  .equipo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .jugadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .jugador {
    padding: 10px 16px;
    font-size: 16px;
    margin: 5px;
    border-radius: 20px;
    background-color: #f8f1ec;
  }
}
